extends widget/base

block append head
    link(rel='stylesheet' href= url_for('/style/about.css'))

block content
    main.about-page.is-flex.is-align-items-center.content.is-full-height
        .container.is-max-widescreen.px-2
            .columns.is-marginless
                section.column.is-12.is-flex.is-flex-direction-column.is-justify-content-center
                    h2.about-title= __('about')
                    img.about-header-image(src='/about/about.webp' alt='About')
                    article!= page.content
block append script
    script.
        $claudia.fadeInImage()
