-
    function getPostCoverImg(post) {
        // 優先使用 Front Matter 中的 cover 欄位
        if (post.cover) {
            return post.cover
        }
        
        // 如果沒有 cover 欄位，則使用文章內容中的第一張圖片
        const firstImgElRegx = /<img[^>]+src="?([^"\s]+)".*?>/
        const coverImgElement = post.content.match(firstImgElRegx)

        if (!coverImgElement) return false

        return coverImgElement[1]
    }
