@import "common/variable";

.about-page {
  height: 100%;
  
  // 調整文字區域對齊
  section.column {
    justify-content: flex-start !important;
  }

  .about-title {
    font-weight: normal;
  }

  article {
    max-width: 100%;
    word-break: break-word;
    overflow-wrap: anywhere;

    li,
    p,
    span,
    a,
    strong {
      word-break: inherit;
      overflow-wrap: inherit;
    }
  }
}
